services:
  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: ${APPCONTAINER}
    volumes:
      - ./:/workspace
    working_dir: /workspace
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
    command: ["/bin/bash", "-c", "tail -f /dev/null"]
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
